<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.csee.swplus.mileage.profile.not_shared.mapper.InfoMapper">

    <select id="findInfoByUserId" resultType="com.csee.swplus.mileage.profile.not_shared.dto.InfoResponseDto">
        SELECT t.stacks
        FROM _sw_mileage_profile_teckstack AS t
        WHERE t.snum = #{studentId}
    </select>

</mapper>