<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.csee.swplus.mileage.milestone.mapper.MilestoneMapper">

    <select id="findAllMilestoneCapability" resultType="com.csee.swplus.mileage.milestone.dto.response.MilestoneResponseDto">
        SELECT id AS capabilityId,
               name AS capabilityName,
               description AS description
        FROM _sw_milestone;
    </select>

    <select id="findAllMilestonePoint" resultType="com.csee.swplus.mileage.milestone.dto.response.MilestonePointResponseDto">

    </select>

    <select id="findAllMilestoneBySemester" resultType="com.csee.swplus.mileage.milestone.dto.response.MilestoneSemesterResponseDto">

    </select>

</mapper>