<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.csee.swplus.mileage.profile.mapper.ProfileProjectMapper">

    <select id="findTopProjectIdByUserId" resultType="Integer">
        SELECT project_id
        FROM _sw_mileage_profile_project
        WHERE snum = #{studentId}
    </select>
    <insert id="insertIfNotExists" parameterType="string">
        INSERT INTO _sw_mileage_profile_project (snum, project_id)
        SELECT #{studentId}, #{projectId}
        FROM (SELECT 1) AS tmp
        WHERE NOT EXISTS (
            SELECT 1 FROM _sw_mileage_profile_project
            WHERE snum = #{studentId}
        )
    </insert>
    <update id="deleteProjectIdByUserId" parameterType="string">
        UPDATE profile
        SET project_id = NULL
        WHERE snum = #{studentId}
    </update>
</mapper>
