<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.csee.swplus.mileage.archive.project.mapper.ProjectMapper">
    <select id="findAllProjects" resultType="com.csee.swplus.mileage.archive.project.dto.AllProjectsEntityDto">
        SELECT id AS projectId,
               name,
               role,
               start_date,
               end_date,
               reg_date AS regDate,
               mod_date AS modDate,
               thumbnail,
               tech_stack AS techStack
        FROM _sw_mileage_project
        WHERE snum = #{studentId}
        ORDER BY modDate DESC;
    </select>

    <select id="findProjectDetail" resultType="com.csee.swplus.mileage.archive.project.dto.ProjectEntityDto">
        SELECT id AS projectId,
               name,
               role,
               description,
               content,
               achievement,
               github_link,
               blog_link,
               deployed_link,
               start_date,
               end_date,
               reg_date AS regDate,
               mod_date AS modDate,
               thumbnail,
               tech_stack AS techStack
        FROM _sw_mileage_project
        WHERE snum = #{studentId} AND id = #{projectId};
    </select>
</mapper>