<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.csee.swplus.mileage.scholarship.mapper.ScholarshipMapper">

    <update id="createApplication" parameterType="map">
        UPDATE _sw_student
        SET is_apply = 1,
            apply_date = #{applyDate},
            is_checked = #{isChecked}
        WHERE id = #{studentId}
          AND is_apply = 0
    </update>

</mapper>